html, body {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
section {
    display: grid;
    grid-template-columns: 20%  80% ;
    
}
aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 32vmin;
    width: 18vmin;
    background-color: black;
}

aside h2{
    font-size: 14px;
    text-align: center;
    color: white;
    padding-bottom: 45px;
}

aside div {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}


table {
    border-spacing: 0px;
    background-color:black;
}

tr {
    background-color: black;
    height: 8vmin; 
    width: 12vmin;
    
}
td {
    margin: 0 auto;
    height: 6vmin;
    width: 8vmin;
    border-radius: 50%;
    
    background-color: white;
    
}
